body {
  background-image: url("capture1.png");
  background-size: fixed;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont;
  font-weight: bold;
  text-align: center;
}

.container {
  background: #ffffff;
  max-width: 60%;
  margin: auto;
  border: 3px solid green;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

}

#title {
  font-size: 40px;
  margin-top: 20px;
  color: #551b1b;
}

#count-elm {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  margin: auto;
  margin-top: 10px;
}



#save-el {
  font-weight: bold;
}